{% extends "app/base/full-screen-content-base.html" %}
{% load static %}

{% block content %}
<div class="container mx-auto p-4">
    <div class="bg-white p-6 rounded-lg shadow-md">
        <h1 class="text-3xl font-bold mb-4">{{ item.name }}</h1>
        <div class="flex space-x-4">
            <a href="{% url 'edit_item' item.item_id %}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition">Edit</a>
            <button id="archive-button" class="inline-block bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition">Archive</button>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const archiveButton = document.getElementById('archive-button');
    const itemId = "{{ item.item_id }}"; // Assuming you pass the item_id to the template context

    // Show the confirmation modal when the archive button is clicked
    archiveButton.addEventListener('click', function() {
        
        // Disable the archive button and show the spinner
        archiveButton.disabled = true;
        archiveButton.innerHTML = '<svg class="animate-spin h-5 w-5 mr-3 ..."><circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle><path fill="currentColor" d="M4 12a8 8 0 018-8v8h8a8 8 0 01-8 8v-8H4z"></path></svg> Archiving...';

        fetch(`/admin/fetch/items/archive/${itemId}/`, {
            method: 'PUT',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => {
            if (!response.ok) {
                return response.json().then(data => { throw new Error(data.error); });
            }
            return response.json();
        })
        .then(data => {
            // Redirect to the items list page
            window.location.href = "{% url 'items' %}";
        })
        .catch(error => {
            alert('Error archiving item: ' + error.message);
            // Re-enable the archive button and restore its text
            archiveButton.disabled = false;
            archiveButton.innerHTML = 'Archive';
        });
    });

});
</script>
{% endblock %}
